py_module/Local/__pycache__/
py_module/Local/.idea/
py_module/Local/.DS_Store
py_module/Local/printdata.py
py_module/Local/other/fashion_training/.ipynb_checkpoints/
py_module/Local/other/qcnn/__pycache__/
py_module/Local/model_and_data/origin_model/
py_module/Global/__pycache__/
py_module/Global/.idea/
py_module/Global/adult.zip
py_module/Global/test.py
dragCircuit.cpp
dragCircuit.h
dragcircuit.ui
build/
test/
VeriQR.pro.user
