cvxpy==1.4.1
prettytable==3.9.0
matplotlib==3.8.2
mindquantum==0.9.0
qiskit==0.45.0
tensorflow==2.7.0
tensorflow-quantum==0.7.2
tensornetwork==0.4.6
cirq==0.13.1
protobuf==3.17.3
dice_ml
scikit-learn
